/* variables */
:root {
    --background: black;
    --header-height: 60px;
    --header-border: 2px;
    --navbar-width: 300px;

/* palette courtasy of https://coolors.co/ccdbdc-9ad1d4-80ced7-007ea7-003249 */
    --primary-background: #003249;
    --secondary-background: #007EA7;
    --tertiary: #80CED7;
    --off-color: #9AD1D4;
    --highlight:#CCDBDC;

}

header {
    /* dimensions */
    height: var(--header-height);
    width: 100%;
}

header {
    position: fixed; /* it floats above the screen! */
    border-bottom: var(--header-border) solid black;
    z-index: 1;
    background-color: var(--secondary-background);
}

header h1 {
    display: inline-block;
}
header a {
    padding: .5rem;
}

main {
    /* padding so it won't overlap with the top or side */
    padding: var(--header-height) 0;
    margin-left:var(--navbar-width);
} 

body {
    background-color: var(--primary-background);
    color: var(--off-color);
}

#contact{  
    text-align: right;
    float: right;
    display: flex;
    flex-direction: column;
}

/* main container for each project */
#projects-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1.5rem ;
    justify-content: center;
}

/* we should have a BIG primary project */
#primary-project {
    width: 100%;
}

.project {
    /* outside of all the containers */
    position: relative;
    background-color: var(--secondary-background);
    border: 2px solid;
    justify-self: center;
    margin: 1.5rem;
    /* inside the container */
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* bar with the navigation links */
nav {
    height: 100%; /* full height */
    width: var(--navbar-width);
    position: fixed;
    top: var(--header-height);
    left: 0;
    background-color: grey; /* temporary for visualization */
    display: flex;
    flex-direction: column;
}