/* variables */
:root {
    --background: black;
    --header-height: 60px;
    --header-border: 2px;
    --navbar-width: 300px;

/* palette courtasy of https://coolors.co/ccdbdc-9ad1d4-80ced7-007ea7-003249 */
    --primary-background: #003249;
    --secondary-background: #007EA7;
    --tertiary: #80CED7;
    --off-color: #9AD1D4;
    --highlight:#CCDBDC;

}

header {
    /* dimensions */
    height: var(--header-height);
    width: 100%;
}

header {
    position: fixed; /* it floats above the screen! */
    border-bottom: var(--header-border) solid black;
    z-index: 1;
    background-color: var(--secondary-background);
}

header h1 {
    display: inline-block;
}
header a {
    padding: .5rem;
    color: var(--tertiary);
}

main {
    /* padding so it won't overlap with the top or side */
    padding: var(--header-height) 0;
    margin-left:var(--navbar-width);
} 

body {
    background-color: var(--primary-background);
    color: var(--off-color);
}

#contact{  
    text-align: right;
    float: right;
    display: flex;
    flex-direction: column;
}

/* main container for each project */
#projects-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1.5rem ;
    justify-content: center;
}

#about-me {
    border: 2px solid;
    border-color: var(--tertiary);
    margin: 1.5rem;
    margin-top: 3rem;
}

#about-me h2 {
    justify-self: center;
    text-align: center;
}
#about-me p {
    margin-top: .5rem;
}



.project {
    /* outside of all the containers */
    position: relative;
    background-color: var(--secondary-background);
    border: 2px solid;
    justify-self: center;
    margin: 1.5rem;
    /* inside the container */
    justify-content: center;
    display: flex;
    flex-direction: column;
}


/* we should have a BIG primary project */
.primary-project {
    width: 100%;
}

/* force secondary projects to have a set image size */
.secondary-project img {
    height: 300px;
    width: 300px;
}

/* bar with the navigation links */
nav {
    height: 100%; /* full height */
    width: var(--navbar-width);
    position: fixed;
    top: var(--header-height);
    left: 0;
    background-color: grey; /* temporary for visualization */
    display: flex;
    flex-direction: column;
    font-weight: normal;
}

nav a {
    font-family: 'Courier New', Courier, monospace;
    color:var(--tertiary);
    text-decoration: none;
    font-weight: bold;
    margin: .5rem;
}

/* only one item per row */
@media screen and (max-width:1066px){
    .secondary-project{
        width: 100%;
    }
}

/* mobile */
@media screen and (max-width:768px){
    /* nav at top */
    nav {
        /* header top */
        padding-top: var(--header-height);
        /* remove full side taking up properties */
        height: auto;
        width: 100%;
        position: inherit;
    }
    /* remove margin for nav */
    main {
        margin-left: 0px;
    }

    /* remove margin for top bar */
    #about-me {
        margin-top: 0px;
    }
}